/* .ant-menu-item-selected {
    background-color: #6E62E5 !important;

    .ant-menu-title-content {
        color: white;
      }
  }

  .ant-picker-calendar-date-today {
    background-color: #6E62E5 !important;

    .ant-picker-cell-inner::before {
        border: none;
    }
  }
   */

   body {
    font-family: 'Roboto', sans-serif;
   }